{% extends "base.html" %}

{% block content %}
  <div style="text-align: center; margin-top: 50px;">
    <h2 style="color: #336633;">Weather Form</h2>
    <h3>Get informed on the weather and the season to plant your crops.</h3>
    <p style="color: black;">Want to learn more about farming? <a href="{% url 'register' %}" style="color: green; text-decoration: none; font-weight: bold;">Click here</a> to join!</p>

    <form method="post" enctype="multipart/form-data" style="max-width: 500px; margin: 50px auto; padding: 30px; border: 1px solid #ddd; border-radius: 12px; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
      {% csrf_token %}
      
      <div class="form-group" style="margin-bottom: 50px;">
        <label for="name">Farm Name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>

      <div class="form-group" style="margin-bottom: 50px;">
        <label for="date">Date:</label>
        <input type="date" class="form-control" id="date" name="date" required>
      </div>

      <div class="form-group" style="margin-bottom: 50px;">
        <label for="temperature">Temperature:</label>
        <input type="text" class="form-control" id="temperature" name="temperature" required>
      </div>

      <div class="form-group" style="margin-bottom: 50px;">
        <label for="humidity">Humidity:</label>
        <input type="text" class="form-control" id="humidity" name="humidity" required>
      </div>

      <div class="form-group" style="margin-bottom: 50px;">
        <label for="rainfall">Rainfall:</label>
        <input type="text" class="form-control" id="rainfall" name="rainfall" required>
      </div>

      <div class="form-group" style="margin-bottom: 50px;">
        <label for="document">Document:</label>
        <input type="file" class="form-control-file" id="document" name="document" accept=".pdf, .doc, .docx">
      </div>

      <button type="submit" class="btn btn-primary rounded-pill" style="background-color: #336633; color: #fff; border: none; width: 150px; height: 50px; padding: 10px 20px; font-size: 18px;">Submit</button>
    </form>
  </div>
{% endblock %}
